@import "../index.scss";

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  list-style-type: none;

  &__bt {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary;
    font-weight: bold;
    min-width: 100px;
    min-height: 20px;
  }
  &__bt:hover {
    background-color: $highlight;
  }
}
