@import '../index.scss';
.sideBar{
    &__bt{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        background-color: $secondary;
        min-width: 20px;
    min-height: 50px;

    }
    &__bt:hover{
        background-color: $highlight;
    }
}